{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Checkout{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id='error' style="color:red;">{{ error }}</h2>
<h2 id='message'>{{message}}</h2>
<form method="post">
  <div class="form-group">
    <label for="product-name">Title: {{ product.title }}</label><br></br>
    <label for="description">Description: {{ product.description }}</label><br></br>
    <label for="price">Price: ${{ "{:.2f}".format(product.price / 100) }}</label><br></br>
    <label for="seller">Seller's email: {{ product.owner_email }}</label><br></br>
    <label for="available-quantity">Available quantity: {{ product.quantity }}</label><br></br>
    <label for="quantity">Select quantity to purchase:</label>
    <input class="form-control" min="1" max="{{ product.quantity }}" value="1" type="number" name="quantity" id="quantity">
    <input class="btn btn-primary" type="submit" value="Purchase">
  </div>
</form>
<hr></hr>
<div>
  <p>To return to the shop page, click here: <a href='/shop'>Shop</a></p>
</div>
<div>
  <p>To return to the home page, click here: <a href='/'>Home</a></p>
</div>
<div>
  <p>To log out of your account, click here: <a href='/logout'>Logout</a></p>
</div>
{% endblock %}